.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 20px;
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.142);
  z-index: 9999;
}

.Navbar h1 {
  font-size: 30px;
  color: black;
}

.Navbar strong {
  font-size: 35px;
  color: red;
}

.Navbar ul {
  display: flex;
  align-items: center;
}

.Navbar ul li {
  padding: 5px 20px;
  font-size: 20px;
  color: grey;
  transition: all 0.3s ease;
  cursor: pointer;
}

.Navbar ul li:hover {
  color: #bd744c;
}

.Navbar .Icons {
  display: flex;
  align-items: center;
}

.Navbar .Icons div {
  margin-left: 20px;
}

.Navbar .CartContainer {
  position: relative;
}

.Navbar .CartNumber {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(20px, -13px);
  padding: 4px;
  border-radius: 50%;
  background-color: #bd744c;
  color: #fff;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.DropdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px -10px rgba(0, 0, 0, 0.306);
  background-color: white;
  border-radius: 5px;
}

.Dropdown span {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.Dropdown span:hover {
  background-color: #ddd;
  color: white;
}

.Dropdown span:first-child {
  border-bottom: 1px solid #ddd;
}
