.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 20px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.142);
    z-index: 9999;
}

.Navbar h1 {
    font-size: 30px;
    color: black;
}

.Navbar strong {
    font-size: 35px;
    color: red;
}

.Navbar ul {
    display: flex;
    align-items: center;
}

.Navbar ul li {
    padding: 5px 20px;
    font-size: 16px;
    color: grey;
    transition: all .3s ease;
}

.Navbar ul li:hover {
    color: #BD744C;
}

.Navbar .Icons {
    display: flex;
    align-items: center;
}

.Navbar .Icons div {
    margin-left: 20px;
}