.Button {
    display: flex;
    align-items: center;
}

.Button.Subscribe {
    padding: 10px 40px;
    background-color: #A6623D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}

.Button.Slider {
    position: relative;
    padding: 10px 65px;
    border: 1px solid #BD744C;
    background-color: transparent;
    color: #BD744C;
    transition: all .3s ease-in;
    z-index: 0;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.Button.Slider::after {
    transition: all .3s ease-in;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0) !important;
    transform-origin: left;
    background-color: #BD744C;
    z-index: -1;
}

.Button.Slider:hover {
    color: white;
}

.Button.Slider:hover::after {
    transform: scaleX(1) !important;
    
}