.Service {
  display: flex;
  align-items: center;
  padding: 60px;
}

.Service:nth-child(2) {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

.Service .Content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Service .Content h5 {
  font-size: 18px;
  color: #262626;
  font-weight: 500;
}

.Service .Content span {
  font-size: 15px;
  color: #9c9086;
}

@media (max-width: 768px) {
  .Service:nth-child(2) {
    border-left: none;
    border-right: none;
  }
}
