.Filter {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
}

.Filter .Categories {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.Filter .Category {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 15px;
}

.Filter h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .Filter {
    padding: 15px;
  }

  .Filter .Category {
    align-items: center;
    justify-content: center;
  }

  .Filter .Category {
    padding: 5px;
  }

  .Filter h4 {
    font-size: 16px;
  }
}
