.Products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 15px;
  width: 100%;
  justify-items: center;
  margin-bottom: 35px;
  padding: 0 15px;
  column-gap: 20px;
  row-gap: 20px;
}

@media (max-width: 768px) {
  .Products {
    width: 80%;
    margin: auto;
  }
}
